<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>换货管理</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/laydate/laydate.js"></script>

<!-- 加入angularJS -->
<script src="/plugins/angularjs/angular.min.js"></script>
<!-- 加入angularjs的pagination模块 -->
<script src="/plugins/angularjs/pagination.js"></script>
<link rel="stylesheet" href="/plugins/angularjs/pagination.css">
<!-- 引入基础模块和控制器 -->
<script src="/js/supergo/base/base_app_pagination.js?"+newDate()></script>
<script src="/js/supergo/base/base_controller.js?"+newDate()></script>
<!-- 编写orderExchange.js文件 -->
<script src="/js/supergo/exchange.js?11"></script>
 <!-- 引入时间控件 -->
<script src="../plugins/dayjs/dayjs.min.js"></script>
<script src="../plugins/dayjs/moment.min.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="supergo"
	ng-controller="exchangeController">
	<!-- .box-body -->

	<div class="box-header with-border">
		<h3 class="box-title">换货管理</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="换货寄回"
							ng-click="sendback()">
							<i class="fa fa-check"></i>换货寄回
						</button>
						<button type="button" class="btn btn-default" title="换货成功"
							ng-click="success()">
							<i class="fa fa-check"></i>换货成功
						</button>
						<button type="button" class="btn btn-default" title="换货取消"
							ng-click="cancel()">
							<i class="fa fa-check"></i>换货取消
						</button>
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>
			<div class="box-tools pull-right">
				<div class="has-feedback">
					换货状态：<select ng-model="searchBean.exchangeGoodsStatus">
						<option value="">全部</option>
						<option value="0">换货寄回</option>
						<option value="1">换货成功</option>
						<option value="2">换货取消</option>
						<option value="3">退款成功</option>
						<option value="4">退款失败</option>
						<option value="5">取消退款</option>
					</select> 
					订单号： <input ng-model="searchBean.ordersubId"> 
					收货人：<input  ng-model="searchBean.reciveName"> 
				换货更新时间:<input type="date" ng-model="searchBean.startTime">
				<a>- </a>
                    <input type="date" ng-model="searchBean.endTime">
					<button class="btn btn-default" ng-click="reloadList()">查询</button>
				</div>
			</div>
			<script>
				lay('#version').html('-v' + laydate.v);
				//执行一个laydate实例
				laydate.render({
					elem : '#test10',
					type : 'datetime',
					range : true
				});
			</script>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right: 0px"><input id="selall"
							type="checkbox" class="icheckbox_square-blue" ng-model="all" ng-click="selAll()"></th>
						<th class="sorting_asc">换货单号</th>
						<th class="sorting_asc">订单号</th>
						<th class="sorting">主订单号</th>
						<th class="sorting">商品名称</th>
						<th class="sorting">商品售价</th>
						<th class="sorting">收货人</th>
						<th class="sorting">联系方式</th>
						<th class="sorting">实际支付</th>
						<th class="sorting">审核状态</th>
						<th class="sorting">申请时间</th>
						<th class="text-center">换货状态</th>
						<th class="sorting">换货更新时间</th>
						<th class="sorting">供应商名称</th>
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="exchange in exchangeList">
						<td><input type="checkbox" ng-checked="all"
							 ng-click="updateSelection($event,exchange.exchangeGoodsId)" >
						</td>  
						<td>{{exchange.exchangeGoodsId}}</td>
						<td><a data-toggle="modal" data-target="#showModalDetail"
							ng-click="queryOrder(exchange.ordersubId)" />{{exchange.ordersubId}}</td>
						<td>{{exchange.tbOrder}}</td>
						<td>{{exchange.goodsName}}</td>
						<td>{{exchange.sellPrice}}</td>
						<td>{{exchange.reciveName}}</td>
						<td>{{exchange.reciveMobile}}</td>
						<td>{{exchange.actualPayment}}</td>
						<td>{{exchange.auditStatus}}</td>
						<td>{{exchange.applyTime | date:'yyyy-MM-dd hh:mm:ss'}}</td>
						<td><span ng-if="exchange.exchangeGoodsStatus==0"> <b>换货寄回</b></span>
							<span ng-if="exchange.exchangeGoodsStatus==1"> <b>换货成功</b></span>
							<span ng-if="exchange.exchangeGoodsStatus==2"> <b>换货取消</b></span>
							<span ng-if="exchange.exchangeGoodsStatus==3"> <b>退换成功</b></span>
							<span ng-if="exchange.exchangeGoodsStatus==4"> <b>退款失败</b></span>
							<span ng-if="exchange.exchangeGoodsStatus==5"> <b>取消退款</b></span></td>
						<td>{{exchange.exchangeGoodsTime | date:'yyyy-MM-dd hh:mm:ss'}}</td>
						<td>{{exchange.shopName}}</td>
						<td>
							<button type="button" class="btn bg-olive btn-xs"
								data-toggle="modal" data-target="#editModal"
								ng-click="showEditPage(exchange)">修改</button>
						</td>

					</tr>

				</tbody>
			</table>
			<!--数据列表/-->
			<div class="text-center">

				<!-- angularjs提供的分页控件 -->
				<tm-pagination conf="paginationConf"></tm-pagination>

			</div>

			<!--数据列表/-->


			<!-- 订单详情-->
			<div class="modal fade" id="showModalDetail" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×</button>
							<h3 id="myModalLabel">订单详情</h3>
						</div>
						<div class="modal-body">

							<!-- 正文区域 -->
							<section class="content">

								<div class="box-body">

									<!--tab页-->
									<div class="nav-tabs-custom">

										<!--tab头-->
										<ul class="nav nav-tabs">
											<li class="active"><a href="#order" data-toggle="tab">订单信息</a>
											</li>
											<li><a href="#orderlist" data-toggle="tab">订单明细</a></li>
											<li><a href="#customer" data-toggle="tab">收货人</a></li>
											<li><a href="#orderstatus" data-toggle="tab">订单状态</a></li>
										</ul>
										<!--tab头/-->

										<!--tab内容-->
										<div class="tab-content">

											<!--表单内容-->
											<!--  订单详情-->
											<div class="tab-pane active" id="order">
												<div class="row data-type">
													<table
														class="table table-bordered table-striped table-hover dataTable">
														<tbody>
															<tr>
																<td>订单号</td>
																<td>{{orderList.ordersubId}}</td>

																<td>下单时间</td>

																<td>{{orderList.createTime}}</td>
															</tr>
															<tr>
																<td>下单人ID</td>
																<td>{{orderList.memberId}}</td>
																<td>下单人姓名</td>
																<td>{{orderList.}}</td>
															</tr>
															<tr>
																<td>供应商名称</td>
																<td>{{orderList.shopName}}</td>
																<td>订单状态</td>
																<td><!-- {{orderList.orderStatus}} -->
																 <span ng-if="orderList.orderStatus==0">支付成功</span>
	                                                             <span ng-if="orderList.orderStatus==1">支付失败</span>
	                                                             <span ng-if="orderList.orderStatus==2">已支付待确认</span>
	                                                              <span ng-if="orderList.orderStatus==3">出库</span>
	                                                              <span ng-if="orderList.orderStatus==4">取消支付</span>
	                                                             <span ng-if="orderList.orderStatus==5">客户取消</span>
	                                                             <span ng-if="orderList.orderStatus==6">失效订单</span>
																
																
																</td>
															</tr>
															<tr>
                                                                <td>支付时间</td>
																<td>{{orderList.payTime}}</td>
															
																<td>支付渠道</td>
																<td><!-- {{orderList.payModel}} -->
																<span ng-if="orderList.payModel==1">支付宝</span>
																<span ng-if="orderList.payModel==2">微信</span>
																<span ng-if="orderList.payModel==3">QQ钱包</span>
																<span ng-if="orderList.payModel==4">网上银行</span>
																<span ng-if="orderList.payModel==5">信用卡</span>
																<span ng-if="orderList.payModel==6">充值卡</span>
																</td>
															</tr>
															<tr>
																<td>支付状态</td>
																<td><!-- {{orderList.payStatus}} -->
																<span ng-if="orderList.payStatus==0">支付成功</span>
                                                               <span ng-if="orderList.payStatus==1">支付失败</span>
                                                               <span ng-if="orderList.payStatus==2">支付待确认</span>
                                                              <span ng-if="orderList.payStatus==3">取消支付</span> 
																
																
																
																
																</td>
															</tr>


														</tbody>
													</table>

												</div>
											</div>

											<!--订单明细-->
											<div class="tab-pane" id="orderlist">
												<div class="row data-type">

													<table
														class="table table-bordered table-striped table-hover dataTable">
														<tbody>
															<tr>
																<td>商品编码</td>
																<td>{{ordersList.goodsId}}</td>

																<td>商家名称</td>
																<td>{{ordersList.shopName}}</td>


															</tr>
															<tr>
																<td>商品名称</td>
																<td>{{ordersList.goodsName}}</td>

																<td>商品规格</td>
																<td>{{ordersList.goodsType}}</td>
															</tr>
															<tr>
																<td>售价</td>
																<td>{{ordersList.sellPrice}}</td>

																<td>数量</td>
																<td>{{ordersList.quantity}}</td>
															</tr>
															<tr>
																<td>合计金额</td>
																<td>{{ordersList.actualPayment}}</td>

																<td>运费</td>
																<td>{{ordersList.expressfee}}</td>
															</tr>
															<tr>
																<td>结算金额</td>
																<td>{{ordersList.paymoney}}</td>

															</tr>
														</tbody>
													</table>

												</div>
											</div>


											<!--收货人-->
											<div class="tab-pane" id="customer">
												<div class="row data-type">
													<table
														class="table table-bordered table-striped table-hover dataTable">
														<tbody>
															<tr>
																<td>收货人</td>
																<td>{{deliveryList.reciveName}}</td>
																<td>收货地址</td>
																<td>{{deliveryList.reciveAddress}}</td>
															</tr>
															<tr>
																<td>快递公司</td>
																<td>{{deliveryList.}}</td>
																<td>快递单号</td>
																<td>{{deliveryList.postId}}</td>
															</tr>
															<tr>
																<td>运费</td>
																<td>{{deliveryList.postFee}}</td>
																<td>邮编</td>
																<td>{{deliveryList.}}</td>
															</tr>
															<tr>
																<td>手机号码</td>
																<td>{{deliveryList.reciveMobile}}</td>
																<td>邮箱</td>
																<td>{{deliveryList.reciveEmail}}</td>
															</tr>
															
														</tbody>
													</table>

												</div>
											</div>

											<!--订单状态-->
											<div class="tab-pane" id="orderstatus">
												<div class="row data-type">
													<table
														class="table table-bordered table-striped table-hover dataTable">
														<tbody>
															<tr>
																<!-- <tr  ng-repeat="refund in refundList"> -->
																<td>处理时间</td>
																<td>
																{{exchangesList.exchangeGoodsTime}}</td>
																<td>申请时间</td>
																<td>{{exchangesList.applyTime}}</td>
															</tr>
															<tr>
																<td>状态</td>
																<td>
																    <span ng-if="exchangesList.exchangeGoodsStatus==0"> <b>换货寄回</b></span>
																	<span ng-if="exchangesList.exchangeGoodsStatus==1"> <b>换货成功</b></span>
																	<span ng-if="exchangesList.exchangeGoodsStatus==2"> <b>换货取消</b></span>
																	<span ng-if="exchangesList.exchangeGoodsStatus==3"> <b>退换成功</b></span>
																	<span ng-if="exchangesList.exchangeGoodsStatus==4"> <b>退款失败</b></span>
																	<span ng-if="exchangesList.exchangeGoodsStatus==5"> <b>取消退款</b></span>
																</td>
																<td>备注</td>
																<td>{{exchangeList.exchangeReason}}</td>

															</tr>
														</tbody>

													</table>

												</div>
											</div>

										</div>
										<!--tab内容/-->
										<!--表单内容/-->

									</div>

								</div>


							</section>


							<div class="modal-footer">

								<button class="btn btn-default" data-dismiss="modal"
									aria-hidden="true">关闭</button>
							</div>

						</div>

					</div>
				</div>
			</div>

			<!-- 修改订单 -->
			<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">×</button>
							<h3 id="myModalLabel">修改</h3>
						</div>
						<div class="modal-body">



							<table
								class="table table-bordered table-striped table-hover dataTable">
								<thead>
									<tr>

										<th class="sorting">修改内容</th>
								</thead>
								<tbody>

									<tr>
										<td>收货人</td>
										<td><input class="form-control" placeholder="收货人"
											ng-model="editModal.reciveName"></td>
									</tr>
									<tr>
										<td>联系方式</td>
										<td><input class="form-control" placeholder="联系方式"
											ng-model="editModal.reciveMobile"></td>
									</tr>

								</tbody>
							</table>


						</div>
						<div class="modal-footer">
							<button class="btn btn-success" data-dismiss="modal"
								aria-hidden="true"  ng-click="edit()">	保存
							</button>
							<button class="
								btn btn-default" data-dismiss="modal"
								aria-hidden="true">关闭</button>
						</div>
					</div>
				</div>
			</div>



		</div>
		<!-- 数据表格 /-->


	</div>
	<!-- /.box-body -->

</body>

</html>