<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>产品新建</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">

<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- 富文本编辑器 -->
<link rel="stylesheet"
	href="../plugins/kindeditor/themes/default/default.css" />
<script charset="utf-8" src="../plugins/kindeditor/kindeditor-min.js"></script>
<script charset="utf-8" src="../plugins/kindeditor/lang/zh_CN.js"></script>

<!-- 加入angularJS -->
<script src="/plugins/angularjs/angular.min.js"></script>
<!-- 加入angularjs的pagination模块 -->
<script src="/plugins/angularjs/pagination.js"></script>
<link rel="stylesheet" href="/plugins/angularjs/pagination.css">

<!-- 引入基础模块和控制器 -->
<script src="/js/supergo/base/base_app_pagination.js"></script>
<script src="/js/supergo/base/base_controller.js"></script>
<!-- 编写product.js文件 -->
<script src="/js/supergo/product_add.js"></script>


</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="supergo"
	ng-controller="productController">

	<!-- 正文区域 -->
	<section class="content">

		<div class="box-body">

			<!--tab页-->
			<div class="nav-tabs-custom">

				<!--tab头-->
				<ul class="nav nav-tabs">
					<li class="active"><a href="#home" data-toggle="tab">产品基本信息</a>
					</li>
					<li><a href="#customAttribute" data-toggle="tab">扩展属性</a></li>

				</ul>
				<!--tab头/-->

				<!--tab内容-->
				<div class="tab-content">

					<!--表单内容-->
					<div class="tab-pane active" id="home">
						<div class="row data-type">
							<div class="col-md-2 title">产品分类</div>

							<div class="col-md-10 data">
								<table>
									<tr>
										<td><select class="form-control"
											ng-model="addProduct.product.classify1"
											ng-init="queryclassify(0,1)"
											ng-change="queryclassify(addProduct.product.classify1,2)">
												<option value="-1">--请选择一级分类--</option>
												<option ng-repeat="classify1 in classify1List"
													value="{{classify1.categoryId}}">{{classify1.categoryName}}</option>
										</select></td>
										<td><select class="form-control select-sm"
											ng-model="addProduct.product.classify2"
											ng-change="queryclassify(addProduct.product.classify2,3)">
												<option value="-1">--请选择二级分类--</option>
												<option ng-repeat="classify2 in classify2List"
													value="{{classify2.categoryId}}">{{classify2.categoryName}}</option>
										</select></td>
										<td><select class="form-control select-sm"
											ng-model="addProduct.product.classify3"
											ng-change="queryTemplate(addProduct.product.classify3)">
												<option value="-1">--请选择三级分类--</option>
												<option ng-repeat="classify3 in classify3List"
													value="{{classify3.categoryId}}">{{classify3.categoryName}}</option>
										</select></td>
										<td>模板ID:{{templateID}}</td>
										<!-- <input type="hidden" class="form-control" ng-model="addProduct.product.template" value="{{template.templateId}}"> -->
									</tr>
								</table>

							</div>


							<div class="col-md-2 title">产品名称</div>
							<div class="col-md-10 data">
								<input type="text" class="form-control" placeholder="产品名称"
									ng-model="addProduct.product.productName">
							</div>

							<div class="col-md-2 title">品牌</div>
							<div class="col-md-10 data">
								<select class="form-control select-sm"
									ng-model="addProduct.product.brand">
									<option value="-1">--请选择品牌--</option>
									<option ng-repeat="brand in brands" value="{{brand.brandId}}">{{brand.brandName}}</option>
								</select>
								<!-- <input placeholder="选择品牌" class="form-control" type="text" data-toggle="modal" data-target="#myBrand" ng-model="addProduct.product.brand"/> -->
							</div>

							<div class="col-md-2 title">副标题</div>
							<div class="col-md-10 data">
								<input type="text" class="form-control" placeholder="副标题"
									ng-model="addProduct.product.subtitle">
							</div>

							<div class="col-md-2 title editer">产品介绍</div>
							<div class="col-md-10 data editer">
								<textarea name="content"
									style="width: 800px; height: 400px; visibility: hidden;"
									ng-model="addProduct.productInfoWithBLOBs.introduce"></textarea>
							</div>

							<div class="col-md-2 title rowHeight2x">包装列表</div>
							<div class="col-md-10 data rowHeight2x">

								<textarea rows="4" class="form-control" placeholder="包装列表"
									ng-model="addProduct.product.packlist"></textarea>
							</div>

							<div class="col-md-2 title rowHeight2x">售后服务</div>
							<div class="col-md-10 data rowHeight2x">
								<textarea rows="4" class="form-control" placeholder="售后服务"
									ng-model="addProduct.product.afterservice"></textarea>
							</div>

						</div>
					</div>

				 	<!--扩展属性-->
					<div class="tab-pane" id="customAttribute">

						<div class="btn-group">
							<button type="button" class="btn btn-default" title="新建"
								ng-click="addTableRow()">
								<i class="fa fa-file-o"></i> 新增扩展属性
							</button>
						</div>

						<table
							class="table table-bordered table-striped table-hover dataTable">
							<thead>
								<tr>
									<th class="sorting">属性名称</th>
									<th class="sorting">属性值</th>
									<th class="sorting">操作</th>
								</tr>
							</thead>
							<tbody ng-init="extrattribute=[]">
								<tr ng-repeat="pojo in extrattribute">

									<td><input ng-model="pojo.attrName" class="form-control"
										placeholder="属性名称"></td>
									<td><input ng-model="pojo.attrValue" class="form-control"
										placeholder="属性值"></td>
									<td>
										<button type="button" class="btn btn-default" title="删除"
											ng-click="deleTableRow($index)">
											<i class="fa fa-trash-o"></i> 删除
										</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div> 

					<!--tab内容/-->
					<!--表单内容/-->

				</div>

			</div>


		</div>
		<div class="btn-toolbar list-toolbar">
			<button class="btn btn-primary" ng-click="save()">
				<i class="fa fa-save"></i>保存
			</button>
			<button class="btn btn-default" ng-click="goListPage()">返回列表</button>
		</div>

	</section>

	<!-- 正文区域 /-->
	<script type="text/javascript">
		var editor;
		KindEditor.ready(function(K) {
			editor = K.create('textarea[name="content"]', {
				allowFileManager : true
			});
		});
	</script>

</body>

</html>