<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.supergo.mapper.TbSpecOptionMapper">
	<resultMap id="BaseResultMap" type="com.supergo.pojo.TbSpecOption">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="option_name" property="optionName" jdbcType="VARCHAR" />
		<result column="spec_id" property="specId" jdbcType="INTEGER" />
		<result column="sort" property="sort" jdbcType="INTEGER" />
		<result column="create_id" property="createId" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_id" property="updateId" jdbcType="INTEGER" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" jdbcType="CHAR" />
		<result column="status" property="status" jdbcType="CHAR" />
		<result column="bak1" property="bak1" jdbcType="VARCHAR" />
		<result column="bak2" property="bak2" jdbcType="VARCHAR" />
		<result column="bak3" property="bak3" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, option_name, spec_id, sort, create_id, create_time, update_id,
		update_time, is_delete,
		status, bak1, bak2, bak3
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.supergo.pojo.TbSpecOptionExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tb_spec_option
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_spec_option
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_spec_option
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.supergo.pojo.TbSpecOptionExample">
		delete from tb_spec_option
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insertSpecOption" parameterType="java.lang.Integer">
		insert into tb_spec_option
		(option_name,sort,create_id,create_time,update_id,update_time,is_delete,status)
		values ('4G',1,1,NOW(),1,NOW(),'n','n');
	</insert>
	<insert id="insert" parameterType="com.supergo.pojo.TbSpecOption">
		insert into tb_spec_option (spec_id, option_name,
		sort, create_id, create_time,
		update_id, update_time, is_delete,status
		)
		values (#{specId,jdbcType=INTEGER}, #{optionName,jdbcType=VARCHAR},
		#{sort,jdbcType=INTEGER}, #{createId,jdbcType=INTEGER}, NOW(),
		#{updateId,jdbcType=INTEGER}, NOW(), 'N',
		'1'
		)
	</insert>
	<insert id="insertSelective" parameterType="com.supergo.pojo.TbSpecOption">
		insert into tb_spec_option
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="optionName != null">
				option_name,
			</if>
			<if test="specId != null">
				spec_id,
			</if>
			<if test="sort != null">
				sort,
			</if>
			<if test="createId != null">
				create_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateId != null">
				update_id,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="bak1 != null">
				bak1,
			</if>
			<if test="bak2 != null">
				bak2,
			</if>
			<if test="bak3 != null">
				bak3,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="optionName != null">
				#{optionName,jdbcType=VARCHAR},
			</if>
			<if test="specId != null">
				#{specId,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				#{sort,jdbcType=INTEGER},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				#{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=CHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=CHAR},
			</if>
			<if test="bak1 != null">
				#{bak1,jdbcType=VARCHAR},
			</if>
			<if test="bak2 != null">
				#{bak2,jdbcType=VARCHAR},
			</if>
			<if test="bak3 != null">
				#{bak3,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.supergo.pojo.TbSpecOptionExample"
		resultType="java.lang.Integer">
		select count(*) from tb_spec_option
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update tb_spec_option
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.optionName != null">
				option_name = #{record.optionName,jdbcType=VARCHAR},
			</if>
			<if test="record.specId != null">
				spec_id = #{record.specId,jdbcType=INTEGER},
			</if>
			<if test="record.sort != null">
				sort = #{record.sort,jdbcType=INTEGER},
			</if>
			<if test="record.createId != null">
				create_id = #{record.createId,jdbcType=INTEGER},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateId != null">
				update_id = #{record.updateId,jdbcType=INTEGER},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.isDelete != null">
				is_delete = #{record.isDelete,jdbcType=CHAR},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=CHAR},
			</if>
			<if test="record.bak1 != null">
				bak1 = #{record.bak1,jdbcType=VARCHAR},
			</if>
			<if test="record.bak2 != null">
				bak2 = #{record.bak2,jdbcType=VARCHAR},
			</if>
			<if test="record.bak3 != null">
				bak3 = #{record.bak3,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update tb_spec_option
		set id = #{record.id,jdbcType=INTEGER},
		option_name = #{record.optionName,jdbcType=VARCHAR},
		spec_id = #{record.specId,jdbcType=INTEGER},
		sort = #{record.sort,jdbcType=INTEGER},
		create_id = #{record.createId,jdbcType=INTEGER},
		create_time = #{record.createTime,jdbcType=TIMESTAMP},
		update_id = #{record.updateId,jdbcType=INTEGER},
		update_time = #{record.updateTime,jdbcType=TIMESTAMP},
		is_delete = #{record.isDelete,jdbcType=CHAR},
		status = #{record.status,jdbcType=CHAR},
		bak1 = #{record.bak1,jdbcType=VARCHAR},
		bak2 = #{record.bak2,jdbcType=VARCHAR},
		bak3 = #{record.bak3,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.supergo.pojo.TbSpecOption">
		update tb_spec_option
		<set>
			<if test="optionName != null">
				option_name = #{optionName,jdbcType=VARCHAR},
			</if>
			<if test="specId != null">
				spec_id = #{specId,jdbcType=INTEGER},
			</if>
			<if test="sort != null">
				sort = #{sort,jdbcType=INTEGER},
			</if>
			<if test="createId != null">
				create_id = #{createId,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateId != null">
				update_id = #{updateId,jdbcType=INTEGER},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=CHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=CHAR},
			</if>
			<if test="bak1 != null">
				bak1 = #{bak1,jdbcType=VARCHAR},
			</if>
			<if test="bak2 != null">
				bak2 = #{bak2,jdbcType=VARCHAR},
			</if>
			<if test="bak3 != null">
				bak3 = #{bak3,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.supergo.pojo.TbSpecOption">
		update tb_spec_option
		set option_name = #{optionName,jdbcType=VARCHAR},
		spec_id = #{specId,jdbcType=INTEGER},
		sort = #{sort,jdbcType=INTEGER},
		create_id = #{createId,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_id = #{updateId,jdbcType=INTEGER},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		is_delete = #{isDelete,jdbcType=CHAR},
		status = #{status,jdbcType=CHAR},
		bak1 = #{bak1,jdbcType=VARCHAR},
		bak2 = #{bak2,jdbcType=VARCHAR},
		bak3 = #{bak3,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>