<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
         http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<context:property-placeholder location="classpath*:params.properties" />

	<!-- 配置Controller Bean的组件扫描器 -->
	<context:component-scan base-package="com.supergo.controller" />
	<!-- 配置三大组件 -->
	<mvc:annotation-driven />
	<!-- 配置静态资源处理器 -->
	<mvc:default-servlet-handler />

	<!-- 配置拦截器(全局) -->
	<mvc:interceptors>
		<!-- 跨域拦截器，一定要放到第一个 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.supergo.controller.interceptor.AllowOriginInterceptor"></bean>
		</mvc:interceptor>
		<!-- 登陆拦截器 -->
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.supergo.controller.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<import resource="applicationContext-dubbo.xml" />
</beans>