<!DOCTYPE html>
<html>

<head>
<!-- 页面meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>产品管理</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no"
	name="viewport">
<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
<link rel="stylesheet"
	href="../plugins/adminLTE/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="../css/style.css">
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

<!-- 加入angularJS -->
<script src="/plugins/angularjs/angular.min.js"></script>
<!-- 加入angularjs的pagination模块 -->
<script src="/plugins/angularjs/pagination.js"></script>
<link rel="stylesheet" href="/plugins/angularjs/pagination.css">

<!-- 引入基础模块和控制器 -->
<script src="/js/supergo/base/base_app_pagination.js"></script>
<script src="/js/supergo/base/base_controller.js"></script>
<!-- 编写brand.js文件 -->
<!-- 编写product.js文件 -->
<script src="/js/supergo/product.js"></script>
<script src="/js/plugins/dayjs/moment.min.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="supergo"
	ng-controller="productController">
	<!-- .box-body -->

	<div class="box-header with-border">

		<h3 class="box-title">产品审核</h3>
	</div>

	<div class="box-body">

		<!-- 数据表格 -->
		<div class="table-box">

			<!--工具栏-->
			<div class="pull-left">
				<div class="form-group form-inline">
					<div class="btn-group">
						<button type="button" class="btn btn-default" title="删除"
							ng-click="batchDelete()">
							<i class="fa fa-trash-o"></i> 删除
						</button>
						<button type="button" class="btn btn-default" title="审核通过"
							ng-click="auditingSuccess()">
							<i class="fa fa-check"></i> 审核通过
						</button>
						<button type="button" class="btn btn-default" title="全局导入索引库" ng-click="updateSolr()"><i class="fa fa-check"></i> 全局导入索引库</button>
						<button type="button" class="btn btn-default" title="刷新"
							onclick="window.location.reload();">
							<i class="fa fa-refresh"></i> 刷新
						</button>
					</div>
				</div>
			</div>
			<div class="box-tools pull-right">
				<div class="has-feedback">
					产品名称：<input ng-model="searchBean.productName">
					<button class="btn btn-default" ng-click="reloadList()">查询</button>
				</div>
			</div>
			<!--工具栏/-->

			<!--数据列表-->
			<table id="dataList"
				class="table table-bordered table-striped table-hover dataTable">
				<thead>
					<tr>
						<th class="" style="padding-right: 0px"><input id="selall"
							type="checkbox" class="icheckbox_square-blue" ng-model="all"
							ng-click="selAll()"></th>
						<th class="sorting_asc">产品ID</th>
						<th class="sorting">产品名称</th>

						<th class="sorting">一级分类</th>
						<th class="sorting">二级分类</th>
						<th class="sorting">三级分类</th>
						<th class="sorting">状态</th>
						<th class="text-center">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in productList">
						<td><input type="checkbox" ng-checked="all"
							ng-click="updateSelection($event,product.productId)"></td>
						<td>{{product.productId}}</td>
						<td>{{product.productName}}</td>

						<td>{{product.classify1}}</td>
						<td>{{product.classify2}}</td>
						<td>{{product.classify3}}</td>
						<td><span ng-if="product.status==3"> 未通过 </span> <span
							ng-if="product.status==2"> 通过 </span> <span
							ng-if="product.status==1"> 申请中 </span></td>
						<td class="text-center">
							<button type="button" class="btn bg-olive btn-xs" title="驳回"
								data-toggle="modal" data-target="#drawback"
								ng-click="transmit(product)">
								<i class="fa fa-ban"></i> 审核不通过
							</button>
							<button type="button" class="btn bg-olive btn-xs"
								data-toggle="modal" data-target="#showModal"
								ng-click="showProduct(product)">详情</button>
						</td>
					</tr>

				</tbody>
			</table>
			<!--数据列表/-->


		</div>
		<!-- 数据表格 /-->
		<!-- angularjs提供的分页控件 -->
		<tm-pagination conf="paginationConf"></tm-pagination>

	</div>
	<!-- /.box-body -->



	<!-- 审核不通过原因 -->
	<div class="modal fade" id="drawback" tabindex="-1" role="dialog"
		aria-labelledby="drawback" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<input type="hidden" ng-model="auditing.productId" />
					<h3 id="mySpecification">审核不通过原因</h3>
				</div>

				<div class="modal-body">

					<textarea rows="4" class="form-control" placeholder="审核不通过原因"
						ng-model="auditing.reason"></textarea>

				</div>
				<div class="modal-footer">
					<button class="btn btn-success" ng-click="auditingFail()"
						data-dismiss="modal" aria-hidden="true">保存</button>
					<button class="btn btn-default" data-dismiss="modal"
						aria-hidden="true">关闭</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 产品详情 -->
	<div class="modal fade" id="showModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h3 id="myModalLabel">产品详情</h3>
				</div>
				<div class="modal-body">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#home" data-toggle="tab">基本信息</a></li>

					</ul>

					<!-- 选项卡开始 -->
					<div id="myTabContent" class="tab-content">
						<div class="tab-pane active in" id="home">
							<br>
							<table class="table table-bordered table-striped" width="800px">
								<tr>
									<td>商品分类1</td>
									<td>{{echoProduct.classify1}}</td>
								</tr>
								<tr>
									<td>商品分类2</td>
									<td>{{echoProduct.classify2}}</td>
								</tr>
								<tr>
									<td>商品分类3</td>
									<td>{{echoProduct.classify3}}</td>
								</tr>
								<tr>
									<td>模板</td>
									<td>{{echoProduct.template}}</td>
								</tr>
								<tr>
									<td>副标题</td>
									<td>{{echoProduct.subtitle}}</td>
								</tr>
								<tr>
									<td>商品状态</td>
									<td> <span
										ng-if="echoProduct.status==3"> 未通过 </span> <span
										ng-if="echoProduct.status==2"> 通过 </span> <span
										ng-if="echoProduct.status==1"> 申请中 </span>
									</td>
								</tr>
								<tr>
									<td>创建人</td>
									<td>{{echoProduct.createId}}</td>
								</tr>
								<tr>
									<td>创建时间</td>
									<td>{{echoProduct.createTime}}</td>
								</tr>
								<tr>
									<td>修改人</td>
									<td>{{echoProduct.updateId}}</td>
								</tr>
								<tr>
									<td>修改时间</td>
									<td>{{echoProduct.updateTime}}</td>
								</tr>
							</table>
						</div>

						<!-- 选项卡结束 -->


					</div>
					<div class="modal-footer">

						<button class="btn btn-default" data-dismiss="modal"
							aria-hidden="true">关闭</button>
					</div>
				</div>
			</div>
		</div>
</body>

</html>